{{ form_start(form, {attr: {class: 'filter'}}) }}

    {{ form_row(form.keyword) }}

    <h4>Catégories</h4>
    {{ form_row(form.categories) }}
    <h4>Prix</h4>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.min_price) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.max_price) }}
        </div>
    </div>

<button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}