{% extends 'produits.base.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1" href="#">RaxorShop | PPE4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ path('accueil') }}">Accueil</a></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('produit_index') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}">Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">AdminSpace</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_AGENT') %}
                    <li class="nav-item">
                        <a class="nav-link" href="">AgentSpace</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mon_profil') }}">Compte</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_login') }}">Authentification</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">always show</span>
    </nav>
    {# <div class="container" id="news">
        <h4 id="title-ajout-recent">Les ajouts récents:</h4>
        <div class="row-1">
        </div>
        {% set i = 0 %}
        {% for produit in produitRecent %}
            <div class="col-md-4" id="classementDernierAjout{% set i = i + 1 %}{{ i }}">
                <div class="card mb-4" id="card-game">
                    <a href="{{ path('produit_show', {'idproduit': produit.idproduit}) }}">
                        <img src="{{ produit.afficherImage }}" alt="" class="card-img-top" id="card-img-top-news">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nomProduit }}</h5>
                        <p class="card-text">{{ produit.libelle }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('panier_add', {id: produit.idproduit}) }}" class="btn btn-dark"><i
                                        class="bi bi-cart-plus"></i></a>
                            <span class="h5 mt-auto"> {{ produit.tarifProduit }}€</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> #}

    <div class="container" id="listeprd">
        <div class="row flex">
            {% for produit in produits %}
                {% if produit | length > 0 %}
                    <div class="col-3 leProduit">
                        <div class="card">
                            {% dump(produit.image) %}
                            <img src="{{ asset('../Images/Produits/' ~ produit.image) }}" alt="" class="card-img-top" id="card-img-top-list">
                            <div class="card-body">
                                <h5 class="card-title">{{ produit.nomProduit }}</h5>
                                <div class="d-flex justify-content-between align-item-center">
                                    <a href="{{ path('panier_add', {id: produit.idproduit}) }}" class="btn btn-dark"><i
                                                class="bi bi-cart-plus"></i></a>
                                    <a href="{{ path('produit_show', {'idproduit': produit.idproduit}) }}"
                                       class="btn btn-dark">Voir détails</a>
                                    {# <a href="{{ path('produit_edit', {'idproduit': produit.idproduit}) }}" class="btn btn-dark">Modifier</a> #}
                                    <span class="h5 mt-auto tarif-overlay">{{ produit.tarifProduit }}€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h1>Aucun produits est disponible</h1>
                    <h3>Cela peut être du à un problème technique ou un re-stockage, veuillez patientez</h3>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {# <a href="{{ path('produit_new') }}">Create new</a>
    <a href="{{ path('produit_edit', {'idproduit': produit.idproduit}) }}">edit</a> #}
{% endblock %}
