{% extends 'produits.base.twig' %}

{% block body %}

    <nav class="navbar fixed-top navbar-expand-md navbar-dark" id="navigation-bar">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1" href="#">RaxorShop | PPE4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('accueil') }}"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ path('produit_index') }}"><i class="fa fa-gamepad" aria-hidden="true"></i>Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-lock" aria-hidden="true"></i>Admin</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mon_profil', {'id': app.user.id}) }}"><i class="fa fa-user" aria-hidden="true"></i>Compte</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last" style="font-size: 15px">
                <img src="{{ asset('../Images/Clients/Photos/' ~ app.user.photoProfil) }}" title="{{ app.user.email }}" id="user_logo_navbar" style="">
            </span>
        {% else %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">Vous êtes pas connecté !</span>
        {% endif %}
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3" id="filtre-prds">
                {% include 'produit/_filter.html.twig' with {form: form} only %}
            </div>
            <div class="col" id="liste-prds">
                {% if produits | length > 0 %}
                <div class="grid">
                    {% for produit in produits %}
                        <div class="card" id="lePrd">
                            <img src="{{ asset('../Images/Produits/' ~ produit.image) }}" alt="{{ produit.nomProduit }}"
                                 class="card-img-top" id="img_prd">
                            <a href=" {{ path('produit_show', {'idproduit': produit.idproduit}) }}">
                                <div class="card-img-overlay">
                                    <h5 class="card-title" id="tarif-prd">{{ produit.tarifProduit }}€</h5>
                                </div>
                            </a>
                            <div class="card-body body-card-lePrd">
                                <h5 class="card-title">{{ produit.nomProduit }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3>Aucun produit n'est disponible pour le moment</h3>
                    {% endif %}
                </div>
                <div>
                    {{ knp_pagination_render(produits) }}
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            window.onscroll = function () {
                scrollFunction()
            };

            var navbar = document.getElementById("navigation-bar");

            function scrollFunction() {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    navbar.style.backgroundColor = "black";
                    navbar.style.transition = "0.5s";
                } else {
                    navbar.style.backgroundColor = "#3a274e";
                    navbar.style.transition = "0.5s";

                }
            }
            var logo_user = document.getElementById("user_logo_navbar");

            logo_user.addEventListener("mouseover", function (){
                logo_user.style.cursor = "pointer";
                logo_user.style.transform = "rotate(360deg)";
                logo_user.style.transition = "0.5s";
            })

            logo_user.addEventListener("mouseout", function (){
                logo_user.style.transform = "rotate(-360deg)";
                logo_user.style.transition = "0.5s";
            })
        </script>
    {% endblock %}
{% endblock %}
