{% extends 'produits.base.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark" id="navigation-bar">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1" href="#">RaxorShop | PPE4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('accueil') }}"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ path('produit_index') }}"><i class="fa fa-gamepad" aria-hidden="true"></i>Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-lock" aria-hidden="true"></i>Admin</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mon_profil') }}"><i class="fa fa-user" aria-hidden="true"></i>Compte</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last" style="font-size: 15px">Bonjour, {{ app.user.email }}</span>
        {% else %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">Vous êtes pas connecté !</span>
        {% endif %}
    </nav>

    <div class="container" id="detailPrd_Background">
        <div class="row">
            <div class="col">
                <div class="card detailPrd_Image">
                    <img src="{{ asset('../Images/Produits/' ~ produit.image) }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title"><h1><span class="badge rounded-pill bg-warning text-dark" style="margin-top: 300px;">{{ produit.tarifProduit }} €</span>
                            </h1></h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center detailPrd_Description">
                    <div class="card-header">{{ produit.nomProduit }}</div>
                    <div class="card-body">
                        <a href="{{ path('panier_add', {id: produit.idproduit}) }}" class="btn btn-success">Ajouter au
                            panier</a>
                        <br><br>

                    </div>
                    <div class="card-footer text-muted">{{ produit.idCategorie }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center detailPrd_Description">
                    <div class="card-header">
                        Description
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ produit.libelle }}</p>
                    </div>
                    <div class="card-footer text-muted">Jeu certifié</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="detailPrd_Comment">
        <div class="row">
            <div class="col">
                <h3 style="border-bottom: 1px solid; color: whitesmoke;">Avis utilisateurs</h3>
                {% if commentaires | length > 0 %}
                    <table class="table table-striped table-dark" id="avis_utilisateurs">
                        <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commentaire in commentaires %}

                            <tr>
                                <td>{{ commentaire.idClient }}</td>
                                <td>{{ commentaire.message }}</td>
                                <td>{{ commentaire.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="no-comment-msg" style="color: navajowhite">
                    <h4>Oups... Aucun commentaire n'a été publié pour ce produit</h4>
                    {% if app.user %}
                        <h5>Soyez-donc le premier à poster un commentaire concernant ce produit :)</h5>
                    {% else %}
                        <h5>Inscrivez-vous sur notre site et publiez votre premier commentaire :)</h5>
                        </div>
                    {% endif %}
                {% endif %}


                <div class="form-group">
                    {% if is_granted('ROLE_USER') %}
                    <label for="exampleFormControlTextarea1" style="color: whitesmoke;"><h5>Ecrire un commentaire sur le
                            produit</h5></label>
                    <form method="post" action="{{ path('produit_comment', {'idproduit': produit.idproduit}) }}">
                        <div class="stars" style="color: orange;">
                            <i class="far fa-star" data-value="1"></i><i class="far fa-star" data-value="2"></i><i class="far fa-star" data-value="3"></i><i class="far fa-star" data-value="4"></i><i class="far fa-star" data-value="5"></i>
                            <input type="hidden" name="note_produit" id="note_produit" value="0">
                        </div>
                        <textarea class="form-control" id="commentaire_produit" name="commentaire_produit"
                                  rows="3"></textarea>
                        <input type="submit" value="Soumettre"
                               onclick="{{ path('produit_comment', {'idproduit': produit.idproduit}) }}">
                    </form>
                </div>
            {% else %}
                <label for="exampleFormControlTextarea1"><h5>Ecrire un commentaire sur le produit</h5></label>
                <textarea class="form-control" id="commentaire_produit" name="commentaire_produit"
                          rows="3" placeholder="Vous devez être connecté pour écrire un commentaire"
                          disabled></textarea>
                <input class="btn btn-danger btn" value="Soumettre le commentaire" disabled>
                {% endif %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>

            window.onload = () => {
                // On va chercher toutes les étoiles
                const stars = document.querySelectorAll(".fa-star");

                //On va chercher l'input caché

                const note = document.querySelector("#note_produit");

                //On boucle sur les étoiles pour leur ajouter des écouteurs d'évènements
                for(star of stars){
                    //On écoute le survol
                    star.addEventListener("mouseover", function(){
                        this.style.color = "red";

                        //L'élément précédent dans le DOM (de même niveau)
                        let previousStarOver = this.previousElementSibling;

                        while(previousStarOver){
                            previousStarOver.style.color = "red";
                            previousStarOver = previousStarOver.previousElementSibling;
                        }
                    });

                    star.addEventListener("click", function (){
                        this.classList.replace('far', 'fa');
                        this.style.color = "orange";

                        note.value = this.dataset.value;

                        //L'élément précédent dans le DOM (de même niveau)
                        let previousStarClick = this.previousElementSibling;

                        while(previousStarClick){
                            previousStarClick.style.color = "orange";
                            previousStarClick.classList.replace('far', 'fa');
                            previousStarClick = previousStarClick.previousElementSibling;
                        }
                    });

                    star.addEventListener("mouseout", function (){
                        resetStars(note.value);
                    });

                }
                function resetStars(note = 0){
                    for(star of stars){
                        if(star.dataset.value > note){
                            star.style.color = "orange";
                            star.classList.replace('fa', 'far');
                        } else {
                            star.style.color = "orange";
                        }
                    }
                }
            }
        </script>
    {% endblock %}
{% endblock %}
