{% extends 'produits.base.twig' %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-md navbar-dark" id="navigation-bar">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1" href="#">RaxorShop | PPE4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('accueil') }}"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ path('produit_index') }}"><i class="fa fa-gamepad"
                                                                               aria-hidden="true"></i>Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}"><i class="fa fa-shopping-cart"
                                                                       aria-hidden="true"></i>Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-lock" aria-hidden="true"></i>Admin</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"
                                                                               aria-hidden="true"></i>Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_login') }}"><i class="fa fa-sign-in"
                                                                               aria-hidden="true"></i>&nbsp;S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last"
                  style="font-size: 15px">
                <a href="{{ path('mon_profil', {'id': app.user.id}) }}">
                    <img src="{{ asset('../Images/Clients/Photos/' ~ app.user.photoProfil) }}" title="{{ app.user.email }}" id="user_logo_navbar">
                </a>
            </span>
        {% else %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">Vous êtes pas connecté !</span>
        {% endif %}
    </nav>

    <div class="container" id="detailPrd_Background">
        <div class="row">
            <div class="col">
                <div class="card detailPrd_Image">
                    <img src="{{ asset('../Images/Produits/' ~ produit.image) }}" class="card-img" style="height: 21vw">
                    <div class="card-img-overlay">
                        <h5 class="card-title">
                            <span class="badge rounded-pill" id="badge_bottom_prd">{{ produit.tarifProduit }} €</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center detailPrd_Description">
                    <div class="card-header cardHeaderNoBs">{{ produit.nomProduit }}</div>
                    <div class="card-body cardBodyNoBs">
                        <a href="{{ path('panier_add', {id: produit.idproduit}) }}" class="btn btn-success">Ajouter au panier</a>
                        <br><br>
                        <h4>Evaluation :<br>
                        {% for note in notes %}
                            {% if note.note_moyenne == 5.0 %}
                                <span class="evaluation-excellent" id="pallier5" style="color: forestgreen">5 / 5</span>
                                <br>
                                <div class="evaluation-com">Excellent produit</div>
                                {% elseif (note.note_moyenne == 4.0) %}
                                <span class="evaluation-trs-bon" id="pallier4" style="color: darkgreen">4 / 5</span>
                                <br>
                                <div class="evaluation-com">Très bon produit</div>
                                {% elseif (note.note_moyenne == 3.0) %}
                                <span class="evaluation-bon" id="pallier3" style="color: #bac610">3 / 5</span>
                                <br>
                                <div class="evaluation-com"><h5>Bon produit</h5></div>
                            {% elseif (note.note_moyenne == 2.0) %}
                                <span class="evaluation-moyen" id="pallier2" style="color: darkorange">2 / 5</span>
                                <br>
                                <div class="evaluation-com">Produit moyen</div>
                            {% elseif (note.note_moyenne == 1.0) %}
                                <span class="evaluation-mauvais" id="pallier1" style="color: red">1 / 5</span>
                                <br>
                                <div class="evaluation-com">Mauvais produit</div>
                            {% elseif (note.note_moyenne == NULL) %}
                                <p style="font-size: 25px">Pas encore évaluée</p></span>
                            {% elseif (note.note_moyenne > 4) %}
                                <span style="color: darkgreen">{{ note.note_moyenne }} / 5</span>
                                <br>
                                <div class="evaluation-com">Excellent produit</div>
                            {% elseif (note.note_moyenne > 3) %}
                                <span style="color: #bac610">{{ note.note_moyenne }} / 5</span>
                                <br>
                                <div class="evaluation-com">Très bon produit</div>
                            {% elseif (note.note_moyenne > 2) %}
                                <span style="color: darkorange">{{ note.note_moyenne }} / 5</span>
                                <br>
                                <div class="evaluation-com">Produit moyen</div>
                            {% elseif(note.note_moyenne > 1) %}
                                <span style="color: red">{{ note.note_moyenne }} / 5</span>
                                <br>
                                <div class="evaluation-com">Mauvais produit</div>
                            {% endif %}
                        {% endfor %}
                        </h4>
                        </p>
                    </div>
                    <div class="card-footer text-muted cardFooterNoBs">{{ produit.idCategorie }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center detailPrd_Description">
                    <div class="card-header cardHeaderNoBs">Description</div>
                    <div class="card-body cardBodyNoBs">
                        <p class="card-text">{{ produit.libelle }}</p>
                    </div>
                    <div class="card-footer text-muted cardFooterNoBs">Jeu certifié</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="detailPrd_Comment">
        <div class="row">
            <div class="col">
                <br>
                <h3 style="border-bottom: 1px solid; color: whitesmoke;">Avis utilisateurs</h3>
                <div class="form-group">
                    {% if is_granted('ROLE_USER') %}
                    <label for="exampleFormControlTextarea1" style="color: whitesmoke;"><h5>Ecrire un commentaire sur le
                            produit</h5></label>
                    <div class="error-message" id="error_msg"></div>

                    <div class="stars" style="font-size: 25px;">
                        <i class="far fa-star star" data-value="1"></i><i class="far fa-star star" data-value="2"></i><i class="far fa-star star" data-value="3"></i><i class="far fa-star star" data-value="4"></i><i class="far fa-star star" data-value="5"></i>
                    </div>
                    <form name="commentaire_form" method="post"
                          action="{{ path('produit_comment', {'idproduit': produit.idproduit}) }}"
                          onsubmit="return validateForm()">
                        <input type="hidden" name="note_produit" id="note_produit">
                        <textarea class="form-control" id="commentaire_produit" name="commentaire_produit" rows="3" required></textarea>
                        <br>
                        <input type="submit" class="btn btn-success" value="Soumettre" id="submit_commentaire">
                    </form>
                </div>
                {% else %}
                    <label for="exampleFormControlTextarea1"><h5 style="color: lightgray">Ecrire un commentaire sur le
                            produit</h5></label>
                    <textarea class="form-control" id="commentaire_produit" name="commentaire_produit" rows="3" placeholder="Vous devez être connecté pour écrire un commentaire" disabled></textarea>
                    <input class="btn btn-danger btn" value="Soumettre le commentaire" disabled>
                {% endif %}
                {% if commentaires | length > 0 %}
                    <table class="table table-striped table-dark" id="avis_utilisateurs">
                        <thead style="background-color: dodgerblue;">
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                            <th scope="col">Note Produit</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: slateblue">
                        {% for commentaire in commentaires %}
                            <tr>
                                <td>{{ commentaire.idClient }}</td>
                                <td>{{ commentaire.message }}</td>
                                <td>{{ commentaire.date }}</td>
                                <td>{{ commentaire.noteProduit }} / 5</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        {{ knp_pagination_render(commentaires) }}
                    </div>
                {% else %}
                    <div class="no-comment-msg" style="color: navajowhite">
                    <h4>Oups... Aucun commentaire n'a été publié pour ce produit</h4>
                    {% if app.user %}
                        <h5>Soyez-donc le premier à poster un commentaire concernant ce produit :)</h5>
                    {% else %}
                        <h5>Inscrivez-vous sur notre site et publiez votre premier commentaire :)</h5>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            window.onscroll = function () {
                scrollFunction()
            };

            var navbar = document.getElementById("navigation-bar");

            function scrollFunction() {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    navbar.style.backgroundColor = "darkslateblue";
                    navbar.style.transition = "0.5s";
                } else {
                    navbar.style.backgroundColor = "#3a274e";
                    navbar.style.transition = "0.5s";

                }
            }

            /**
             * La fonction vérifie le formulaire lors du submit
             * Retourne false si une des conditions n'est pas remplies donc on annule le submit du form (Un champ manquant ou autres)
             * Retourne true si une des conditions est remplie donc on effectue le submit (Le commentaire est publié)
             * @returns {boolean}
             */
            function validateForm() {
                var x = document.forms["commentaire_form"]["note_produit"].value;
                var error = document.getElementById('error_msg');
                error.style.color = "red";
                error.style.fontSize = "20px";

                if (x == "") {
                    error.innerHTML = "<i class=\"fas fa-exclamation-triangle\"></i>Veuillez noter le produit avant de soumettre votre commentaire<i class=\"fas fa-exclamation-triangle\"></i>";
                    return false;
                }
            }

            /**
             * Lors du chargement de la page on va plusieurs écoute sur des événements tels que le clic, le survol, ou le mouse out
             * Tous cela va concerner la notation à étoile
             * On va récupérer les valeurs de chaque étoiles via le data-value = "XXXX" allant de 1 à 5 qui va correspondre à la note sur 5
             * De ce fait on va effectuer diverses actions sur les étoiles tels que le changement d'icone (Etoile rempli ou vide lorsque l'on sélectionne une étoile)
             * on va détecter les étoiles précédentes en fonction de l'étoile que l'on a sélectionner (Si on sélectionne la 5eme on va remplacer toutes les précédentes étoiles ainsi que l'étoile sélectionner par des étoiles remplies)
             * On va faire des changements de couleurs etc...
             */
            window.onload = () => {
                // On va chercher toutes les étoiles
                const stars = document.querySelectorAll(".fa-star");


                //On va chercher l'input caché
                const note = document.querySelector("#note_produit");

                //On boucle sur les étoiles pour leur ajouter des écouteurs d'évènements
                for (star of stars) {
                    //On écoute le survol
                    star.addEventListener("mouseover", function () {
                        this.style.color = "red";

                        //L'élément précédent dans le DOM (de même niveau)
                        let previousStarOver = this.previousElementSibling;

                        while (previousStarOver) {
                            previousStarOver.style.color = "red";
                            previousStarOver = previousStarOver.previousElementSibling;
                        }
                    });

                    star.addEventListener("click", function () {
                        this.classList.replace('far', 'fa');
                        this.style.color = "orange";

                        note.value = this.dataset.value;

                        //L'élément précédent dans le DOM (de même niveau)
                        let previousStarClick = this.previousElementSibling;

                        while (previousStarClick) {
                            previousStarClick.style.color = "orange";
                            previousStarClick.classList.replace('far', 'fa');
                            previousStarClick = previousStarClick.previousElementSibling;
                        }
                    });

                    star.addEventListener("mouseout", function () {
                        resetStars(note.value);
                    });


                }

                function resetStars(note = 0) {
                    for (star of stars) {
                        if (star.dataset.value > note) {
                            star.style.color = "orange";
                            star.classList.replace('fa', 'far');
                        } else {
                            star.style.color = "orange";
                        }
                    }
                }
            }
            var logo_user = document.getElementById("user_logo_navbar");

            logo_user.addEventListener("mouseover", function () {
                logo_user.style.cursor = "pointer";
                logo_user.style.transform = "rotate(360deg)";
                logo_user.style.transition = "0.5s";
            })

            logo_user.addEventListener("mouseout", function () {
                logo_user.style.transform = "rotate(-360deg)";
                logo_user.style.transition = "0.5s";
            })
        </script>
    {% endblock %}
{% endblock %}
