{% extends 'accueil.base.twig' %}

{% block title %}RaxorShop - Page d'accueil{% endblock %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-md navbar-dark" id="navigation-bar">
        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-1" href="#">RaxorShop | PPE4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ path('accueil') }}"><i class="fa fa-home" aria-hidden="true"></i>Accueil</a></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('produit_index') }}"><i class="fa fa-gamepad" aria-hidden="true"></i>Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-lock" aria-hidden="true"></i>Admin</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;S'authentifier</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last"
                  style="font-size: 15px">
                <a href="{{ path('mon_profil', {'id': app.user.id}) }}">
                <img src="{{ asset('../Images/Clients/Photos/' ~ app.user.photoProfil) }}" title="{{ app.user.email }}"
                     id="user_logo_navbar">
                </a>
            </span>
        {% else %}
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">Vous êtes pas connecté !</span>
        {% endif %}
    </nav>
    <div class="container" id="container-all">
        <div class="row">
            <div class="col">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img id="img-carroussel" class="d-block w-100" src="{{ asset('../Images/Divers/RaxorShop.jpg') }}" alt="First slide">
                        </div>
                        {% for produit_pop_car in produits_populaire_carroussel %}
                            <div class="carousel-item">
                                <img id="img-carroussel" class="d-block w-100" src="{{ asset('../Images/Produits/' ~ produit_pop_car.image) }}" alt="Second slide">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="new_products">
                    <h3>Le plus récent</h3>
                    {% for produit_recent in produits_recent %}
                        <div class="card" id="new_product">
                            <img id="img_new_product" class="card-img-top"
                                 src="{{ asset('../Images/Produits/' ~ produit_recent.image) }}" alt="Card image cap">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="coming_soon">
                    <h1>Arrive bientôt</h1>
                </div>
            </div>
        </div>
        <div class="row" style="width: auto;">
            <div class="col" id="container-coming-soon">
                <div class="grid">
                    {% for produit_soon in produits_soon %}
                        <div class="card" style="max-width: 300px; max-height: 300px">
                            <img class="card-img-top" src="{{ asset('../Images/Produits/' ~ produit_soon.image) }}"
                                 alt="Card image cap" style="max-width: 300px; max-height: 300px">
                            <div class="card-img-overlay overlay">
                                <h5 class="card-title"><span class="badge rounded-pill bandeau_prd">{{ produit_soon.dateApparition | date('d-m-Y') }}</span>
                                </h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="coming_soon">
                    <h1>Top 5 tendance</h1>
                </div>
            </div>
        </div>
        <div class="row" style="width: auto;">
            <div class="col" id="container-coming-soon">
                <div class="grid">
                    {% set i = 0 %}
                    {% for produit_pop in produits_populaire_top5 %}
                        <div class="card" style="max-width: 300px; max-height: 300px" id="{% set i = i + 1 %}{{ i }}">
                            <a href="{{ path('produit_show', {'idproduit': produit_pop.idProduit}) }}">
                                <img class="card-img-top" src="{{ asset('../Images/Produits/' ~ produit_pop.image) }}"
                                     alt="Card image cap" style="max-width: 300px; max-height: 300px">

                                <div class="card-img-overlay">
                                    {% if i < produit_pop %}
                                        {% if i == 1 %}
                                            <h5 class="card-title"><span class="badge rounded-pill bandeau_prd"
                                                                         style="color: orange;">n°{{ i }}</span></h5>
                                        {% else %}
                                            <h5 class="card-title"><span
                                                        class="badge rounded-pill bandeau_prd">n°{{ i }}</span></h5>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onscroll = function () {
            scrollFunction()
        };

        var navbar = document.getElementById("navigation-bar");

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                navbar.style.backgroundColor = "darkslateblue";
                navbar.style.transition = "0.5s";
            } else {
                navbar.style.backgroundColor = "#3a274e";
                navbar.style.transition = "0.5s";

            }
        }

        var logo_user = document.getElementById("user_logo_navbar");

        logo_user.addEventListener("mouseover", function () {
            logo_user.style.cursor = "pointer";
            logo_user.style.transform = "rotate(360deg)";
            logo_user.style.transition = "0.5s";
        })

        logo_user.addEventListener("mouseout", function () {
            logo_user.style.transform = "rotate(-360deg)";
            logo_user.style.transition = "0.5s";
        })

    </script>
{% endblock %}